//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 05 22:29:35 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Left" LOCATE = SITE "N11" LEVEL 1;
COMP "Blink" LOCATE = SITE "C4" LEVEL 1;
COMP "Right" LOCATE = SITE "V15" LEVEL 1;
COMP "All" LOCATE = SITE "A8" LEVEL 1;
SCHEMATIC END;

