//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 09 10:07:20 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Y0" LOCATE = SITE "U16" LEVEL 1;
COMP "Y1" LOCATE = SITE "U15" LEVEL 1;
COMP "Y2" LOCATE = SITE "M11" LEVEL 1;
COMP "A0" LOCATE = SITE "V8" LEVEL 1;
COMP "A1" LOCATE = SITE "T5" LEVEL 1;
COMP "B0" LOCATE = SITE "N8" LEVEL 1;
COMP "B1" LOCATE = SITE "U8" LEVEL 1;
SCHEMATIC END;

